<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="logout()">Logout</a>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table">

      <!-- Product ID Column -->
      <ng-container matColumnDef="applicationName">
        <th mat-header-cell *matHeaderCellDef>Application Name</th>
        <td mat-cell *matCellDef="let application">{{application.applicationName}}</td>
      </ng-container>

      <!-- ISBN Column -->
      <ng-container matColumnDef="applicationDescription">
        <th mat-header-cell *matHeaderCellDef>Application Description</th>
        <td mat-cell *matCellDef="let application">{{application.applicationDescription}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="applicationURL">
        <th mat-header-cell *matHeaderCellDef>Application URL</th>
        <td mat-cell *matCellDef="let application"><a href="{{ application.applicationURL }}">{{application.applicationURL }}</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let application; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

